* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.titl {
  width: 100%;
  height: 60px;
  background-color: rgb(13, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: Roboto;
}

.container {
  width: 80%;
  min-height: 80%;
  margin-top: 140px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 6px;
  background-color: #333;
  color: white;
}

.shapes {
  display: flex;
  width: 100%;
  min-height: 200px;
  overflow-y: auto;
}

.title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: Lobster;
}

.shapes-list {
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.shapes-list li {
  list-style: none;
}

.shapes-list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: block;
  padding: 16px 12px;
  background-color: rgb(13, 73, 73);
  margin: 5px 5px;
  text-align: center;
  border-radius: 6px;
  font-family: Montserrat;
}

.display {
  position: relative;
  width: 100%;
  min-height: 600px;
  overflow-y: auto;
  overflow-y: hidden;
}
.square-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: 300px;
  height: 300px;
  background: #333;
  position: relative;
}

.cube {
  width: 240px;
  height: 240px;
  background: #333;
  position: relative;
  border: 1px solid;
  padding: 10px;
  box-shadow: 100px 100px #333;
}

.triangle {
  width: 150px;
  height: 250px;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 250px solid #333;
  position: relative;
}

.rectangle {
  width: 500px;
  height: 300px;
  background: #333;
  position: relative;
}

.circle {
  height: 300px;
  width: 300px;
  background-color: #333;
  border-radius: 50%;
}

.side,
.side-t,
.side-r,
.side-c,
.side-cu,
.side-hep,
.side-oct,
.side-pen,
.side-cy,
.side-ov,
.side-co {
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
}

.side-hep,
.side-oct,
.side-pen,
.side-cy,
.side-ov,
.side-co {
  left: 0px;
  top: 140px;
}

.side-t {
  left: 100px;
  top: 180px;
  height: 440px;
}

.side-r {
  top: 0px;
  left: 0px;
  height: 300px;
}

.side-c {
  height: 300px;
  top: 12%;
}

.length {
  position: absolute;
  top: 12%;
  left: 100%;
}
.width {
  position: absolute;
  top: 70%;
  left: 10%;
}

.height {
  position: absolute;
  top: 12%;
  left: 70%;
  z-index: 100;
}
.base {
  position: absolute;
  top: 350px;
  left: 100%;
}
.radius {
  position: absolute;
  top: 180px;
  left: 50%;
  width: 50%;
  border-top: 2px solid red;
}

.sidea,
.sideb,
.sidec {
  position: absolute;
}
.sidea {
  top: 10px;
  left: 120px;
}
.sideb {
  top: 20px;
  left: 400px;
}
.sidec {
  top: 200px;
  left: 300px;
}

input {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 20px;
}

.cover,
.cover1,
.cover2 {
  width: 142px;
  height: 10px;
  border-top: 2px solid #444;
  position: absolute;
  left: 498px;
  top: 406px;
  transform: rotate(45deg);
}

.cover1 {
  left: 260px;
}

.cover2 {
  top: 170px;
}

.det {
  display: flex;
  width: 100%;
  height: 160px;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 20px;
  background-color: rgb(13, 73, 73);
  margin-top: 20px;
}

.surfa,
.peri,
.volumee {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  background: white;
  border-radius: 5px;
  color: black;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}

.lline {
  position: absolute;
  width: 245px;
  height: 10px;
  z-index: 50;
  border-top: 2px solid red;
  transform: rotate(90deg);
  left: 34%;
}

.sub {
  width: 1px;
  height: 1px;
}

.heptagon,
.octagon,
.pentagon,
.cylinder,
.oval,
.cone {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgg,
.imgg1 {
  width: 60%;
  height: 90%;
  object-fit: cover;
}

.imgg1 {
  width: 50%;
  height: 80%;
}

.imgg2 {
  width: 40%;
  height: 90%;
  object-fit: cover;
}

.side-cy,
.side-ov {
  height: 500px;
  width: 500px;
}
.rad,
.hei,
.min,
.max {
  position: absolute;
}
.rad {
  top: 250px;
  left: 360px;
}

.hei {
  top: 100px;
  left: 250px;
}
.min {
  top: 10px;
  left: 380px;
}
.max {
  top: 100px;
  left: 480px;
}
